<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <updateMongoDriverSettings>
        <processor type="MongoCertificateAuth.Pipelines.MongoDbAddCertificate, MongoCertificateAuth" />
      </updateMongoDriverSettings>
  </pipelines>
    <settings>
      <setting name="MongoCertificateAuth.VerifySslCertificate" value="false"/>
      <setting name="MongoCertificateAuth.CertificateName" value="mongocert.pem"/>
      <setting name="MongoCertificateAuth.CertificatePassword" value="mongopassword"/>
    </settings>
  </sitecore>
</configuration>